# Ignore all .a files
*.a

# Ignore all .o files
*.o

# Ignore the push_swap file
push_swap

# Ignore the checker file
checker

# Ignore the checker file
checker_Mac

# Ignore the .vscode directory
.vscode/*
.vscode